<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>

    <div class="slide active">
      <div class="card">
        <div class="card__img" id="img01"></div>
        <div class="card__content">
          <p class="card__content-theme">Travel</p>
          <h2 class="card__content-header">Misty mountain</h2>
          <p class="card__content-paragraph">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta
            porro, tempora consequuntur vel dolore assumenda aspernatur cum
            dignissimos unde reprehenderit sint? Neque, id consequuntur.
            Quibusdam sit officiis debitis corrupti. Quasi.
          </p>
          
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="card">
        <div class="card__img" id="img02"></div>
        <div class="card__content">
          <p class="card__content-theme">Urban</p>
          <h2 class="card__content-header">Urban umbrellas</h2>
          <p class="card__content-paragraph">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta
            porro, tempora consequuntur vel dolore assumenda aspernatur cum
            dignissimos unde reprehenderit sint? Neque, id consequuntur.
            Quibusdam sit officiis debitis corrupti. Quasi.
          </p>
          <a class="card__content-link">Read </a>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="card">
        <div class="card__img" id="img03"></div>
        <div class="card__content">
          <p class="card__content-theme">Lifestyle</p>
          <h2 class="card__content-header">A lonely road</h2>
          <p class="card__content-paragraph">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta
            porro, tempora consequuntur vel dolore assumenda aspernatur cum
            dignissimos unde reprehenderit sint? Neque, id consequuntur.
            Quibusdam sit officiis debitis corrupti. Quasi.
          </p>
          <a class="card__content-link">Read </a>
        </div>
      </div>
    </div>
    
    <div class="prevnext">
      <button class="prevnext-button" id="prev"></button>
      <button class="prevnext-button" id="next"></button>
    </div>

    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
